PRODUCT_URL=https://r429rt8wmg.execute-api.eu-west-1.amazonaws.com/prod
CART_URL=https://5mfmn5tusa.execute-api.eu-west-1.amazonaws.com/prod/api/profile/cart
ORDER_URL=https://5mfmn5tusa.execute-api.eu-west-1.amazonaws.com/prod/api/order
API_URL=https://5mfmn5tusa.execute-api.eu-west-1.amazonaws.com/prod/api